@import '../../style/mixins/transition';

.input-container{
  position: relative;
  min-height: 50px;
  min-width: 200px;
  margin: $_margin 0 $_margin 0;
}

.text-input{
  @include resetMP;
  @include bezier(border-color 0.2s);
  border: none;
  background: none;
  outline: none;
  font-size: 1.1rem;
  color: inherit;

  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  border-bottom: 2px solid #ccc;


  &:focus{
    border-color: $sc-turquoise;
  }


}

.input-label{
  position: absolute;
  top: 0;
  left: 0;

  font-size: 0.8rem;
  color: #909090;
}