
%clearFix::after{
  content: '';
  display: table;
  clear: both;
}

@mixin crossBrowser($key, $value){
  #{$key}: $value;
  -webkit-#{$key}: $value;
  -moz-#{$key}: $value;
}

@mixin rounded($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin no-select-text($cursor){
  cursor: $cursor;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  &::selection{
    background-color: transparent;
  }
}

@mixin resetMP{
  margin: 0;
  padding: 0;
}