
$sc-off-white: #f7f7f7;
$sc-creme: rgba(255, 250, 225, 0.27);
$sc-grey-light: #bcbcbc;
$sc-grey: #616161;
$sc-off-black: #2E2D2B;

$sc-red: #f64747;
$sc-red-dark: #BE2F30;
$sc-red-light: #e85e54;

$sc-orange: #dca95d;

$sc-gold: #CCBF3A;

$sc-green-light: #8ebf95;
$sc-green: #3a9a6c;
$sc-green-dark: #004E36;

$sc-turquoise: #60bfb6;

$sc-blue-sky: #5094D0;
$sc-blue-deep: #0e6ab4;
$sc-blue-navy: #1D3969;

$sc-pink-dark: #AC3959;
$sc-pink-light: #C4AECA;




