
.bg-primary{
  background: $sc-blue-deep;
  color: white;
}

.bg-secondary{
  background: $sc-green;
  color: white;
}

.bg-tertiary{
  background: $sc-orange;
  color: white;
}

.bg-red-light{
  background: $sc-red-light;
  color: white;
}

.bg-turquoise{
  background: $sc-turquoise;
  color: white;
}

.bg-white{
  background: white;
  color: black;
}

.bg-off-black{
  background: $sc-off-black;
  color: white;
}

.bg-creme{
  background: $sc-creme;
  color: black;
}
