@import '../../style/mixins/shadow';
@import '../../style/mixins/transition';
@import '../../style/mixins/active-darken';
@import '../../style/mixins/hover-lighten';

.nav-tab{
  @include tab-shadow;
  @include bezier(all 0.1s);
  @include active-darken(rgba(0, 0, 0, 0.12));
  @include hover-lighten(rgba(255, 255, 255, 0.09));
  position: relative;
  float: left;
  display: block;
  min-width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  z-index: 1;

  .tab-text{
    z-index: 10;
  }

}

.active-tab{
  border-top: 1px solid #737373;
  border-bottom: 1px solid #737373;
}